<section class="container-fluid py-5 bg-light text-white" style="position: relative">
  <div class="row">
    <div class="col-md-5 bg-cover" style="
      position: absolute;top:0;bottom:0;
      background-image: url({{user.image}}))">
    </div>
    <div class="container">
      <div class="row justify-content-end text-md-dark">
        <div class="col-md-7">
          <h3>{{user.name}}</h3>
          <p>
            {{user.email}}
          </p>
          <a href="#" class="btn btn-outline-info mb-3">編輯資料</a>
        </div>
      </div>
    </div>
  </div>
</section>